@font-face {
    font-family: 'Noto_Sans';
    src: url('NotoSansKR-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('NotoSansKR-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('NotoSansKR-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Noto_Sans';
    src: url('NotoSansKR-Medium.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}