.latest-list{
    list-style: none;
    width: 100%;
    max-width: 300px;
    padding: 0px;
}
.latest-wrap{
    border-radius: 20px;
    /* box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 10%); */
    /* padding-left: 10px; */
    margin-left: 20px;
}

.user-wrap{
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgb(0 0 0 / 10%);
    height: 250px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.latest-list li:last-child{
    border-bottom: 0px;
}

.latest-list li::before{
    content: ">";
    display: inline-block;
    vertical-align:middle;
    padding: 0px 5px 6px 0px;
}

.latest-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 15px;
    font-family: 'Noto_Sans';
}


.latest-list li a{
    cursor: pointer;
}
.tag-button{
    width: 80px;
    height: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #efefef;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
}

.tag-button:hover {
    background-color: #ff7f00;
    box-shadow: 0px 3px 5px rgba(255, 127, 0, 0.4);
    color: #fff;
    transform: translateY(-3px);
  }


.prose *{
    font-family: "Noto_Sans";
}

.culture{
    height: 600px;
    width: 100%;
    position: relative;
}
.section-1{
    background-color: white;
}
.section-2{
    background-color: white;
}
.section-3{
    background-color: white;
}
.section-4{
    background-color: white;
}

.trio-box-1{
    position: absolute;
}

section p{
    font-family: "Noto_Sans";
}

.slogan{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.slogan span{
    background: linear-gradient(to right, #ff9200, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ubf{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.ubf span{
    background: linear-gradient(to right, #ff9200, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.center-title{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 20%;
}
.text-position-1{

}
.text-position-2{
    
}
.text-position-3{
    
}